<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
    <p> •	As this is an ever evolving field, I am also continuously learning new things. For example, at the moment I am part of one of the first cohorts of the Udacity Self Driving Car Nanodegree, where I am learning about advanced topics like machine learning, sensor fusion, and path planning.</p>
    <p> •	Before joining JLR as part of their graduate scheme, I did my MSc at University of Manchester on Advanced Control and Systems Engineering. Before this, I started my BSc in Industrial Electronics and Automation Engineering at UC3M in Spain to later move to the USA and finish it at UCLA.</p>
    <p> •	During my university years I co-founded Printie, a 3D printing marketplace where anyone could upload and sell/buy quality 3D printable designs </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
